@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #484848;
}

h1 {
  text-align: center;
  margin: 50px 0 100px 0;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  max-width: 1100px;
  margin: 20px auto;
}

.card {
  width: 350px;
  margin-bottom: 70px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-section {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.card--header {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.card--header img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 3px solid #fbfbff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: -75px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card--header h3 {
  font-size: 30px;
  padding: 15px 0;
}

.card--header h5 {
  text-transform: uppercase;
  color: #2e7d32;
  text-align: right;
  font-size: 14px;
}

img {
  height: 100px;
}

.card--film {
  width: 100%;
  border-top: 2px solid #b6c2c3;
  border-bottom: 2px solid #b6c2c3;
  display: flex;
  gap: 10px;
}

.film-img {
  width: 148px;
  height: 227px;
}

.card--main {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  padding-top: 15px;
  gap: 6px;
  width: 100%;
}

.card--main h3 {
  align-items: center;
}

.card--main img {
  width: 60px;
  height: 30px;
  position: absolute;
  display: block;
  bottom: 0;
  right: 0;
  padding-bottom: 4px;
}

.star i {
  color: #e5af0e;
}

.actor-content {
  display: flex;
  flex-direction: column;
  padding: 15px 0;
}

.actor-content h3 {
  padding-bottom: 8px;
}

.actor-content p {
  text-align: justify;
}

.oscar-win {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.win-title {
  text-align: right;
}

.win-title h5 {
  font-size: 15px;
}

.win {
  color: #2e7d32;
  padding-bottom: 8px;
}

.nominations {
  color: #e5af0e;
}
